<div class="card">
    <div class="card-body">
        <form class="form-inline">
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="">Codigo Producto:&nbsp;</label>
                    <input type="text" class="form-control form-control-sm">
                    <button class="btn btn-success btn-sm">Generar</button>
                </div>
                <div class="form-group col-lg-auto">
                    <label for="">Fecha de Emision:&nbsp;</label>
                    <input type="date" class="form-control form-control">
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="">Descripción de Producto:&nbsp;</label>
                    <input type="text" class="form-control form-control-sm" size="80%">
                </div>
            </div>
        </form>
    </div>
</div>