<div class="" style="margin: 0 0;">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 contenedorInfo" style="padding-right: 15px; padding-left: 25px;">
            <div class="bienvenida">
                <div class="card border-info mb-5" style="max-width: 30rem;">
                    <div class="card-body text-info">
                        <h5 class="card-title">BIENVENIDO</h5>
                        <p class="card-text">
                            Bienvenido al Sistema de Cobranza y Facturación, donde podrá realizar múltiples acciones para gestionar con eficiencia todo lo que usted desee.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>