<div class="" style="margin: 0 0;">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 contenedorInfo" style="padding-right: 15px; padding-left: 25px;">
            <div class="bienvenida">
                <h5>BIENVENIDO</h5>
                <div>
                    Hola, en este momento estás en la plataforma EL QUEBIN, plataforma de contabilidad que te ayudará a mantener, de manera clara y ordenada, las cuentas de tu empresa
                </div>
            </div>
        </div>

    </div>
</div>