<form class="form-inline">
    <div class="form-row">
        <div class="form-group col-lg-auto">
            <label for="codProveedor">Codigo Proveedor:&nbsp;</label>
            <select name="slcCodProveedor" id="slcCodProveedor" class="form-control form-control-sm">
              <option>Codigo Proveedor</option>
            </select>
        </div>
        <div class="form-group col-lg-auto">
            <label for="proveedor">Proveedores:&nbsp;</label>
            <select name="slcProveedores" id="slcProveedores" class="form-control form-control-sm">
              <option>Proveedores</option>
            </select>
        </div>
    </div><br><br>
    <div class="form-row">
        <div class="form-group col-lg-auto">
            <label for="tipoProducto">Tipo de Producto:&nbsp;</label>
            <select name="slcTipoProducto" id="slcTipoProducto" class="form-control form-control-sm">
              <option>Tipo de Producto</option>
            </select>
        </div>
    </div>
</form>