<form class="form-inline">
    <div class="form-row">
        <div class="form-group col-lg-auto">
            <label for="fechaEmision">Fecha de Emisión:&nbsp;</label>
            <input type="date" class="form-control form-control-sm">
        </div>
        <div class="form-group col-lg-auto">
            <label for="lugarEmision">Lugar de Emisión:&nbsp;</label>
            <select name="slcLugarEmision" id="slcLugarEmision" class="form-control form-control-sm">
              <option>Lugar de Emisión</option>
          </select>
        </div>
    </div><br><br>
    <div class="form-row">
        <div class="form-group col-lg-auto">
            <label for="cogEmpleado">Codigo de Empleado:&nbsp;</label>
            <select name="slcCodEmpleado" id="slcCodEmpleado" class="form-control form-control-sm">
              <option>Codigo Empleado</option>
          </select>
        </div>
        <div class="form-group col-lg-auto">
            <label for="autorizacion">Autorización:&nbsp;</label>
            <select name="slcAutorizacion" id="slcAutorizacion" class="form-control form-control-sm">
              <option>Autorización</option>
          </select>
        </div>
    </div><br><br>
    <div class="form-row">
        <div class="form-group col-lg-auto">
            <label for="moneda">Tipo de Moneda:&nbsp;</label>
            <select name="slcTipoMoneda" id="slcTipoMoneda" class="form-control form-control-sm">
              <option>Tipo de Moneda</option>
          </select>
        </div>
        <div class="form-group col-lg-auto">
            <label for="concepto">Por concepto:&nbsp;</label>
            <textarea name="txtaConcepto" id="txtaConcepto" placeholder="Por Concepto de" class="form-control" cols="70"></textarea>
        </div>
    </div>
</form>