<div class='mt-5 row'>
    <div class='col-5'>
        <select class="custom-select">
          <option selected>Buscar por: </option>
          <option value="1">Codigo cliente</option>
          <option value="2">Nombre cliente</option>
          <option value="4">Producto</option>
        </select>
    </div>
    <div class="col-5 ">
        <input type="text" name="" class='form-control' placeholder="buscar" id="">
    </div>
    <div class='col-2 '>
        <button class='form-control btn btn-outline-info'> BUSCAR </button>
    </div>
</div>

<div class="mt-5 text-center">
    <h4>
        Información Cliente
    </h4>
</div>