.nav-item {
    margin-left: auto;
    margin-right: auto;
    border: 0;
}

ul {
    width: 100%;
}

.db-navbar {
    position: sticky;
    top: 0;
    z-index: 1007;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.row {
    margin: 0;
}

.navbar {
    background-color: #D9BD9C !important;
    padding: 0rem 1rem;
}

.navbarSupportedContent li {
    cursor: pointer!important;
}

.btn-link {
    border-width: 0;
    color: black;
}

.btn-link:hover {
    text-decoration: underline!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .6);
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    font-size: 1.1rem;
    outline: #fff;
    font-weight: bold;
}