<div class="" style="margin: 0 0;">
    <div class="row">
        <div class=" col-xl-2 col-lg-3 col-md-2 col-sm-12 col-12 barraLateral sidebar">
            <h3 class='text-center'>Opciones</h3>
            <hr class="mb-5">
            <nav class="navbar-expand-md navbar-dark pb-5">
                <div class="text-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent2">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['empleado']" routerLinkActive="active" id="btn-empleado"> <i class="fas fa-user"></i> Informacion empleados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['add-empleado']" routerLinkActive="active" id="btn-addEmpleado"><i class="fas fa-user-plus"></i> Añadir empleados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['eliminar-empleado']" routerLinkActive="active" id="btn-deleteEmpleado"><i class="fas fa-user-minus"></i> Eliminar empleados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['plantilla']" routerLinkActive="active" id="btn-planilla"><i class="fas fa-calendar-check"></i> Planilla</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-10 col-sm-12 col-12" id="contenedorInfo">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>