<form class="needs-validation m-5" novalidate>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip01">Razón social</label>
            <input type="text" class="form-control" id="validationTooltip01" placeholder="Razón social" value="" required>
            <div class="invalid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip02">RUC</label>
            <input type="text" class="form-control" id="validationTooltip02" placeholder="RUC" value="" required>
            <div class="invalid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip03">Persona de contacto</label>
            <input type="text" class="form-control" id="validationTooltip03" placeholder="Persona de contacto" value="" required>
            <div class="invalid-tooltip">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip04">Número de contacto</label>
            <input type="text" class="form-control" id="validationTooltip04" placeholder="Número de contacto" value="" required>
            <div class="invalid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip05">Ubicación por zonas</label>
            <input type="text" class="form-control" id="validationTooltip05" placeholder="ubicación por zonas" value="" required>
            <div class="invalid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip06">Apertura de linea de crédito</label>
            <input type="text" class="form-control" id="validationTooltip06" placeholder="Persona de contacto" value="" required>
            <div class="invalid-tooltip">
                Looks good!
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationTooltip07">Apertura de linea de crédito</label>
            <select name="" id="validationTooltip07" class='form-control'>
                <option value="">sepa </option>
                <option value="">judas</option>
                <option value="">que</option>
                <option value="">pongo</option>
            </select>
            <div class="invalid-tooltip">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip08">Dirección de la empresa</label>
            <textarea type="text" rows="5" class="form-control" id="validationTooltip08" placeholder="Dirección de la empresa" required></textarea>
            <div class="invalid-tooltip">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationTooltip09">Dirección fiscal</label>
            <textarea type="text" rows="5" class="form-control" id="validationTooltip09" placeholder="Dirección fiscal" required></textarea>
            <div class="invalid-tooltip">
                Please provide a valid city.
            </div>
        </div>
    </div>
    <button class="btn btn-primary mt-5" type="button">Submit form</button>
</form>