.barraLateral li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 15px;
}

.barraLateral ul {
    padding-left: 0px;
}

.barraLateral button {
    text-align: left;
    cursor: pointer;
}

.barraLateral {
    background-color: rgba(0, 0, 0, 0.02);
    height: 100%;
    padding: 0px;
    padding-top: 20px;
    border-right: 1px rgba(0, 0, 0, 0.7) solid;
    position: sticky;
    top: 4rem;
    z-index: 1006;
    height: calc(100vh - 5rem);
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    font-size: 18px;
    text-decoration: underline !important;
    color: rgb(255, 255, 255) !important;
}

a:hover {
    text-decoration: underline !important;
}

.navbar-nav {
    flex-direction: column;
}

@media only screen and (max-width: 767px) {
    .barraLateral {
        position: relative;
        top: 0px;
        height: auto;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
}

.row {
    margin-right: 0px;
}