<form>
    <div class="form-inline">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm text-right">Orden de Compra:</label>
        <div class="col-sm-3">
            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Orden de Compra">
        </div>
        <div class="form-group">
            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm text-right">Fecha:</label>
            <div class="col-sm-auto">
                <input type="date" class="form-control form-control-sm" id="colFormLabel" placeholder="Fecha">
            </div>
        </div>
    </div>
    <div class="form-inline">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm text-right">Tipo de Moneda:</label>
        <div class="col-sm-auto">
            <select name="slcMoneda" id="slcMoneda" class="form-control form-control-sm">
          <option selected>Moneda</option>
        </select>
        </div>
        <div class="form-group">
            <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm text-right">Fecha de Entrega:</label>
            <div class="col-sm-auto">
                <input type="date" class="form-control form-control-sm" id="colFormLabel" placeholder="Fecha de Entrega">
            </div>
        </div>
    </div>
</form>