<div class="card border-info">
    <div class="card-body text-center">
        <h5>Orden de Compra</h5>
    </div>
</div>
<hr>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['peticion-compra']" routerLinkActive="active">Petición de Compra</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['proveedor-compra']" routerLinkActive="active">Proveedor</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h6>Detalle Producto a Ordenar</h6>
    </div>
    <div class="card-body">
        <form>
            <div class="form-row ">
                <div class="col-sm-12 col-lg-4">
                    <div class="input-group mb-2">
                        <select name="slcCodProducto" id="slcCodProducto" class="form-control">
                            <option>Codigo Producto</option>
                        </select>
                        <div class="input-group-prepend">
                            <button class="btn btn-primary input-group-text">...</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Cantidad">
                </div>
                <div class="col-sm-12 col-lg-4">
                    <select name="slcUnidad" id="slcUnidad" class="form-control">
                        <option>Unidad</option>
                    </select>
                </div>
                <div class="col-6 mt-3">
                    <button type="submit" class="btn btn-primary mb-2 btn-block">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h6>Producto Agregado</h6>
    </div>
    <div class="card-body"></div>
</div>