<div class="card border-info">
    <div class="card-body text-center">
        <h5>Añadir Proveedor</h5>
    </div>
</div>
<hr>
<div class="card mt-3">
    <div class="card-header">
        <h6>Datos Proveedor</h6>
    </div>
    <div class="card-body">
        <form class="form-inline needs-validation" novalidate>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor01">Razon Social:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor01" placeholder="Razon Social" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor02">Numero de RUC:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor02" placeholder="Numero de RUC" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor03">Domicilio Fiscal:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor03" placeholder="Domicilio Fiscal" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor04">Numero de Oficina:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor04" placeholder="Numero de Oficina" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor05">Vendedor:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor05" placeholder="Vendedor" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor06">Dirección Almacen:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor06" placeholder="Dirección Almacen" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor07">Clasificación:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor07" placeholder="Clasificación" required>&nbsp;&nbsp;
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
        <h6>Datos Representantes</h6>
    </div>
    <div class="card-body">
        <form class="form-inline needs-validation" novalidate>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor08">Nombre:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor08" placeholder="Nombre" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor09">Apellido:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor09" placeholder="Apellido" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor10">Telefono:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor10" placeholder="Telefono" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor11">Celular:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor11" placeholder="Celular" required>&nbsp;&nbsp;
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor12">Correo Electronico:&nbsp;</label>
                    <input type="text" class="form-control" id="validationCustomProveedor12" placeholder="Correo Electronico" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header">
        <h6>Datos Financieros</h6>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor13">Linea de Credito</label>
                    <input type="text" class="form-control" id="validationCustomProveedor13" placeholder="Linea de Credito" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor14">Tiempo de Credito</label>
                    <input type="text" class="form-control" id="validationCustomProveedor14" placeholder="Tiempo de Credito" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
                <div class="form-group col-lg-auto">
                    <label for="validationCustomProveedor15">Cuenta Bancaria</label>
                    <input type="text" class="form-control" id="validationCustomProveedor15" placeholder="Cuenta Bancaria" required>
                    <div class="invalid-feedback">
                        Debes llenar este campo.
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="card border-info">
    <div class="card-body text-center">
        <button class="btn btn-primary btn-block" (click)="AniadirProveedor();">Añadir Proveedor</button>
    </div>
</div>