<div class="row mt-3 m-0">
    <div class="card border-primary barraLateral col-xl-2 col-lg-3 col-md-4 col-sm-12 col-12 pr-0 pl-0">
        <h5 class="card-header text-center">Opciones (Compras)</h5>
        <div class="card-body text-primary pr-0 pl-2">
            <!--a class="nav-link" [routerLink]="['proveedor']" routerLinkActive="active" id="btn-proveedor"> <i class="fas fa-user"></i> Informacion Proveedores</a-->
            <a class="nav-link" [routerLink]="['orden-compra']" routerLinkActive="active" id="btn-ordenCompra"><i class="fas fa-user-plus"></i> Ordén de Compra</a>
            <a class="nav-link" [routerLink]="['verificar-orden']" routerLinkActive="active" id="btn-verificarOrden"><i class="fas fa-user-plus"></i> Verificar Ordén</a>
            <a class="nav-link" [routerLink]="['eliminar-orden']" routerLinkActive="active" id="btn-eliminarOrden"><i class="fas fa-user-plus"></i> Eliminar Ordén</a>
        </div>
    </div>
    <div class="m-auto col-xl-10 col-lg-9 col-md-8 col-sm-12 col-12 miniatura">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>