<div class="card border-info">
    <div class="card-body text-center">
        <h5>Información Empleado</h5>
    </div>
</div>
<hr>
<div class="card mt-3">
    <div class="card-header">
        <h6>Busqueda</h6>
    </div>
    <div class="card-body">
        <div class='row'>
            <div class='col-6'>
                <select class="custom-select">
                  <option selected>Buscar por: </option>
                  <option value="1">Codigo Empleado</option>
                  <option value="2">Nombre Empleado</option>
              </select>
            </div>
            <div class="col-6 ">
                <input type="text" name="" class='form-control' placeholder="buscar" id="">
            </div>
            <div class='col-6 col-lg-4 mt-3'>
                <button class='form-control btn btn-outline-info'> Buscar </button>
            </div>
        </div>
    </div>
</div><br>
<div class="card">
    <div class="card-header">
        <h6>Información Empleado</h6>
    </div>
    <div class="card-body"></div>
</div>