<div class="row mt-3 m-0 ">
    <div class="card border-primary barraLateral col-xl-2 col-lg-3 col-md-4 col-sm-12 col-12 pr-0 pl-0 mt-3 mb-3">
        <h5 class="card-header text-center">Opciones (Inventario)</h5>
        <div class="card-body text-primary pr-0 pl-2">
            <a class="nav-link" [routerLink]="['existencia']" routerLinkActive="active" id="btn-existencia"><i class="fas fa-archive"></i> Existencia</a>
            <a class="nav-link" [routerLink]="['ingreso-mercaderia']" routerLinkActive="active" id="btn-existencia"><i class="fas fa-prescription-bottle-alt"></i> Ingreso de Mercadería</a>
        </div>
    </div>
    <div class="m-auto col-xl-10 col-lg-9 col-md-8 col-sm-12 col-12 miniatura">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>