#bodyId {
    background-color: rgb(212, 231, 220);
}

.form-row div {
    margin-left: auto;
    margin-right: auto;
}

.btn-link {
    border-width: 0;
    color: black;
}

.btn-link:hover {
    text-decoration: underline!important;
    color: black;
}

button {
    outline: none!important;
}


/* BARRA LATERAL */

.barraLateral li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 15px;
}

.barraLateral ul {
    padding-left: 0px;
}

.barraLateral button {
    text-align: left;
    cursor: pointer;
}

.barraLateral a:hover {
    text-decoration: underline !important;
}

.barraLateral a {
    color: #525051!important;
}


/* MEDIA QUERY */

@media only screen and (min-width: 767px) {
    .miniatura {
        padding: 1rem !important;
    }
}

@media only screen and (max-width: 767px) {
    .miniatura {
        padding-left: 0 !important;
        padding-top: 2rem;
    }
}