<div class="card border-info">
    <div class="card-body text-center">
        <h5>Ingreso de Mercadería</h5>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-header">
        <h6>Datos Generales</h6>
    </div>
    <div class="card-body">
        <form class="form-inline">
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="">Codigo Producto:&nbsp;</label>
                    <input type="text" class="form-control form-control-sm">
                    <button class="btn btn-success btn-sm">Generar</button>
                </div>
                <div class="form-group col-lg-auto">
                    <label for="">Fecha de Emision:&nbsp;</label>
                    <input type="date" class="form-control form-control">
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="">Descripción de Producto:&nbsp;</label>
                    <input type="text" class="form-control form-control-sm" size="80%">
                </div>
            </div>
        </form>
    </div>
</div><br>
<div class="card">
    <div class="card-header">
        <h6>Datos Financieros</h6>
    </div>
    <div class="card-body">
        <form class="form-inline">
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="">Precio de Compra:&nbsp;</label>
                    <input type="number" step="any" class="form-control form-control-sm" placeholder="00.00">
                </div><br><br>
                <div class="form-group col-lg-auto">
                    <button class="btn btn-success btn-sm btn-block">Generar a 30% de la compra</button>
                </div><br><br>
                <div class="form-group col-lg-auto">
                    <label for="">Precio de Venta:&nbsp;</label>
                    <input type="number" class="form-control form-control-sm" step="any" placeholder="00.00">
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="">Precio Clase A:&nbsp;</label>
                    <input type="number" class="form-control form-control-sm" step="any" placeholder="00.00">
                </div><br><br>
                <div class="form-group col-lg-auto">
                    <label for="">Precio Clase B:&nbsp;</label>
                    <input type="number" class="form-control form-control-sm" step="any" placeholder="00.00">
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="">Precio Clase C:&nbsp;</label>
                    <input type="number" class="form-control form-control-sm" step="any" placeholder="00.00">
                </div><br><br>
                <div class="form-group col-lg-auto">
                    <label for="">Precio Clase D:&nbsp;</label>
                    <input type="number" class="form-control form-control-sm" step="any" placeholder="00.00">
                </div>
            </div>
        </form>
    </div>
</div><br>
<div class="card">
    <div class="card-header">
        <h6>Datos Embalaje</h6>
    </div>
    <div class="card-body">
        <form class="form-inline">
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="lblBDIIMCantidad">Cantidad de Mercadería:&nbsp;</label>
                    <input type="number" step="any" placeholder="00.00" class="form-control form-control-sm">
                </div>
                <div class="form-group col-lg-auto">
                    <label for="lblBDIIMUnidad">Unidad:&nbsp;</label>
                    <select name="slcBDIIMUnida" id="slcBDIIMUnida" class="form-control form-control-sm">
                    <option value="-1">Escojer unidad</option>
                  </select>
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="">Categoría:&nbsp;</label>
                    <select name="slcBDIIMCategoria" id="slcBDIIMCategoria" class="form-control form-control-sm">
                    <option value="-1">Escojer categorías</option>
                  </select>
                </div>
                <div class="form-group col-lg-auto">
                    <label for="lblBDIIMMarca">Marca</label>
                    <select name="slcBDIIMMarca" id="slcBDIIMMarca" class="form-control form-control-sm">
                    <option value="-1">Escojer marcas</option>
                  </select>
                </div>
            </div><br><br>
        </form>
    </div>
</div>