<div class="card border-info">
    <div class="card-body text-center">
        <h5>Ingreso de Mercadería</h5>
    </div>
</div>
<hr>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['datos-generales']" routerLinkActive="active">Datos Generales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['embalaje']" routerLinkActive="active">Embalaje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['empaque']" routerLinkActive="active">Empaque</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div><br>
<div class="card">
    <div class="card-header">
        <h6>Datos Financieros</h6>
    </div>
    <div class="card-body">
        <form class="form-inline">
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="">Precio de Compra:&nbsp;</label>
                    <input type="number" step="any" class="form-control form-control-sm" placeholder="00.00">
                </div><br><br>
                <div class="form-group col-lg-auto">
                    <button class="btn btn-success btn-sm btn-block">Generar a 30% de la compra</button>
                </div><br><br>
                <div class="form-group col-lg-auto">
                    <label for="">Precio de Venta:&nbsp;</label>
                    <input type="number" class="form-control form-control-sm" step="any" placeholder="00.00">
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="">Precio Clase A:&nbsp;</label>
                    <input type="number" class="form-control form-control-sm" step="any" placeholder="00.00">
                </div><br><br>
                <div class="form-group col-lg-auto">
                    <label for="">Precio Clase B:&nbsp;</label>
                    <input type="number" class="form-control form-control-sm" step="any" placeholder="00.00">
                </div>
            </div><br><br>
            <div class="form-row">
                <div class="form-group col-lg-auto">
                    <label for="">Precio Clase C:&nbsp;</label>
                    <input type="number" class="form-control form-control-sm" step="any" placeholder="00.00">
                </div><br><br>
                <div class="form-group col-lg-auto">
                    <label for="">Precio Clase D:&nbsp;</label>
                    <input type="number" class="form-control form-control-sm" step="any" placeholder="00.00">
                </div>
            </div>
        </form>
    </div>
</div>