<div class="card border-info">
    <div class="card-body text-center">
        <h5>Información Cliente</h5>
    </div>
</div>
<hr>
<div class="card mt-3 ">
    <div class="card-header">
        <h6>Busqueda</h6>
    </div>
    <div class="card-body">
        <form class="form row">
            <div class='form-group col-lg-6 col-12'>
                <select class="form-control ">
                    <option selected>Busqueda</option>
                    <option value="1">Codigo cliente</option>
                    <option value="2">Nombre cliente</option>
                    <option value="4">Codigo Producto</option>
                </select>
            </div>
            <div class="form-group col-lg-6 col-12">
                <input type="text" name="" class='form-control' placeholder="buscar" id="">
            </div>
            <div class="form-group col-lg-6 col-12">
                <button class='form-control btn btn-outline-info'> BUSCAR </button>
            </div>
        </form>
    </div>
</div><br>
<div class="card">
    <div class="card-header">
        <h6>Información Cliente</h6>
    </div>
    <div class="card-body"></div>
</div>s