<div class="card border-info">
    <div class="card-body text-center">
        <h5>Existencia de Mercadería</h5>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-header">
        <h6>Busqueda</h6>
    </div>
    <div class="card-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="">Código de Articulo:&nbsp;</label>
                <input type="text" class="form-control form-control-sm" placeholder="Ej: XXXXX">
                <button class="btn btn-primary btn-sm">Buscar</button>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h6>Articulo</h6>
    </div>
    <div class="card-body">
        <table class="table table-striped table-sm table-bordered">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Tienda</th>
                    <th scope="col">Total</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Almacen 1</th>
                    <th scope="col">Almacen 2</th>
                    <th scope="col">En camino</th>
                    <th scope="col">Apartado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Tienda 01</td>
                    <td>100</td>
                    <td>kg</td>
                    <td>10</td>
                    <td>21</td>
                    <td>300</td>
                    <td>177</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>