<div class="card border-info">
    <div class="card-body text-center">
        <h5>Existencia de Mercadería</h5>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-header">
        <h6>Busqueda</h6>
    </div>
    <div class="card-body">
        <form class="form">
            <div class="row col-lg-12 w-100 ">
                <label for="txt-cdart" class='col-lg-12'>Código de Articulo:&nbsp;</label>
                <div class="form-group col-lg-5">
                    <input type="text" id="txt-cdart" class="form-control form-control " placeholder="Ej: XXXXX">
                </div>
                <div class=" form-group col-lg-4">
                    <button class="btn btn-outline-primary btn-block">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h6>Articulo</h6>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Tienda</th>
                    <th scope="col">Total</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Almacen 1</th>
                    <th scope="col">Almacen 2</th>
                    <th scope="col">En camino</th>
                    <th scope="col">Apartado</th>
                </tr>
            </thead>
            <tbody class='text-center'>
                <tr>
                    <th scope="row">1</th>
                    <td>Tienda 01</td>
                    <td>100</td>
                    <td>kg</td>
                    <td>10</td>
                    <td>21</td>
                    <td>300</td>
                    <td>177</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>